html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.chlo{
  color: #2f6b31;
  background-color: #2f6b31;
}

.bg-chlo {
    background-color: #2f6b31;
}
.text-chlo{
    color: #2f6b31;
}

.border-chlo{
  color: #2f6b31;   
   border-color: #2f6b31;
   border-width: medium;
}
.btn-chlo{
  background-color: #2f6b31;
}

body {
    background-color: #ffffff;
  }


  .bg-footer{
    background-color: #ffff;
  }

  .text-color{
    color:#2f6b31
  }

  .text-headColor{
    color:#2f6b31
  }

  .bg-copyRight{
    background-color: #2f6b31;
  }
  .text-copyRight{
    color: #ffff;
  }

  .bg-navColor{
    background-color:  #ffff !important;
  }
   

    /* Navbar */

    #nav-bar {
      top: 0;
      z-index: 10;
      margin-left: 80px;
      margin-right: 90px;
    }
    .navbar-brand img {
      height: 110px;
      width: 110px;
    }
    .navbar-nav {
      display: flex;
      align-items: center;;
    }
    .navbar-nav li {
      padding: 0 10px;
    }
    .navbar-nav li a {
      float: right;
      text-align: left;
    }
    #nav-bar ul li a:hover {
      color: #f8e501!important;
    }
    .navbar-toggler {
      border: none!important;
    }
    .nav-link {
      font-weight:bold;
      font-size: 16px;
    }
    @media (min-width: 992px){
      .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto !important;
        justify-content: flex-end!important;
        margin-right: 5rem;
    }
    }


  /* Title text */
  @media only screen and (max-width: 867px) {
    .title {
      font-size: 300%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title {
      font-size: 300%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size: 200%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 250%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  
  @media only screen and (min-width: 867px) {
    .title {
      font-size: 1028%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title {
      font-size: 1003%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size:420%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 600%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

    /* Navbar */

    @media only screen and (min-width: 769px) {
        .bg-nav {
          background-color: #2f6b31;
          padding-top: 100px;
        }
      }
    
      @media only screen and (max-width: 769px) {
        .bg-nav {
          background-color: #2f6b31;
          padding-top: 50px;
        }
      }
    
    
  /* Home */

  @media only screen and (min-width: 1390px) {
    .mobile {
      display: none;
    }

    hr {
      margin: -2rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #ffff;
      width: 75%;
      margin-left: 12%;
    }

    h1.text-light.text-center.title {
      font-size: 1125%;
      font-weight: 700;
    }

    h2.text-light.text-center.v-feed-text {
      font-size: 300%;
    }


  }



  @media only screen and (max-width: 1390px) {
    .desktop {
      display: none;
    }

    hr {
      margin: 0rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #ffff;
      width: 72%;
      margin-left: 12%;
    }

    h2.text-light.text-center.v-feed-text {
        font-size: 120%;
      }
  }

  .v-feed {
    max-width: 98%;
  }


  
  /* Carousel */

  
  @media only screen and (max-width: 900px) {
    .prev-btn img{
      height: 50px;
      width: 50px;
    }
  
    .next-btn img{
      height: 50px;
      width: 50px;
    }
    }

/* Capacity */

.capacity h1{
  font-size: 5rem;
  font-weight: 800;
}



@media only screen and (max-width: 600px) {
  .capacity h1{
    font-size: 4rem;
    font-weight: 800;
  }
}
  

   /* Form */



.form label {
  font-size: 1.75rem !important;
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: bolder !important;
}

.form input {
  border-radius: 14px;
  height: 75px !important;
  --bs-bg-opacity: 1;
  --bs-bg-opacity: 1;
  background-color:#fff !important;
  color: #2f6b31 !important;
}
.form-control{
  
  border: var(--bs-border-width) solid #fff;
}

.form-control:focus {
  background: #fff !important;
  color: #2f6b31 !important;
}

/* footer */

.bottom_line{
  border-bottom-style: groove;
  border-color: #2f6b31;
  width: fit-content;
}


@media (max-width: 500px) {
 
  .py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .pt-5{
    padding-top: 0.5rem !important;
  }
  
  .px-5{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .p-4 {
    padding: 0.5rem!important;
  }
  .fw-bolder{
    font-weight: 500 !important;
  }

  .m-5 {
    margin: 0 !important;
}
.pb-5 {
  padding-bottom: 0.5rem!important;
}
.mt-5{
  margin-top: 0.5rem !important;
}

#avgf1 h2{
  font-weight: 600 !important;
  font-size: calc(1.325rem + -0.1vw) !important;
}

#avgf1 p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
.p-5 {
  padding: 0.5rem!important;
}
.py-3 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

#featureDesk{
  display: block;
}
#featureMob{
  display: none;
}
#featureDesk img{
  height: 50px;
  margin-top: 9px;
}

.capacity h1 {
  font-size: 2rem;
  font-weight: 800;
}

#avgfTable p{
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
}



@media (min-width: 500px) {
#featureMob{
  display: block;
}
#featureDesk{
  display: none;
}
}