

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.chlo{
  color: #f4bd01;
  background-color: #f4bd01;
}

.bg-chlo {
    background-color: #f4bd01;
}
.text-chlo{
    color: #f4bd01;
}
.bg-black{
    
    color: #000000;
}


.border-black{
    
  color: #000000;
}
.border-chlo{
  color: #f4bd01;   
   border-color: #f4bd01;
   border-width: medium;
}
.btn-chlo{
  background-color: #f4bd01;
}

body {
    background-color: #000000;
  }
.bg-footer{
  background-color: #000;
}

  .text-color{
    color:#f4bd01
  }

  .text-headColor{
    color: #f4bd01;

  }
 .bg-copyRight{
  background-color:#f4bd01

}
.text-copyRight{
  color: #000;
}



.bg-navColor{
  background-color:  #000 !important;
}

  /* Navbar */

  #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 80px;
    margin-right: 90px;
  }
  .navbar-brand img {
    height: 110px;
    width: 110px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    float: right;
    text-align: left;
  }
  #nav-bar ul li a:hover {
    color: #f8e501!important;
  }
  .navbar-toggler {
    border: none!important;
  }
  .nav-link {
    font-weight:bold;
    font-size: 16px;
  }
  


  @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;
      margin-right: 5rem;
      /* position: absolute;
      right: 87px ; */
  }
  }


  /* Title text */
  @media only screen and (max-width: 867px) {
    .title {
      font-size: 300%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title {
      font-size: 300%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size: 200%;
      font-weight: 700;
      padding-top: 8%;
      z-index: 0;
  
    }
  
    .bg-title-lg {
      font-size: 250%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  
  @media only screen and (min-width: 867px) {
    .title {
      font-size: 1028%;
      font-weight: 700;
      padding-top: 8%;
      z-index: 0;
  
    }
  
    .bg-title {
      font-size: 1003%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size:420%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 600%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Navbar */

  @media only screen and (min-width: 769px) {
    .bg-nav {
      background-color: #f4bd01;
      padding-top: 100px;
    }
  }

  @media only screen and (max-width: 769px) {
    .bg-nav {
      background-color: #f4bd01;
      padding-top: 50px;
    }
  }



  /* Home */

  @media only screen and (min-width: 1390px) {
    .mobile {
      display: none;
    }

    hr {
      margin: -2rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #000000;
      width: 75%;
      margin-left: 12%;
    }

    h1.text-black.text-center.title {
      font-size: 1125%;
      font-weight: 700;
    }

    h2.text-black.text-center.v-feed-text {
      font-size: 300%;
    }


  }



  @media only screen and (max-width: 1390px) {
    .desktop {
      display: none;
    }

    hr {
      margin: 0rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #000000;
      width: 72%;
      margin-left: 12%;
    }

    h2.text-black.text-center.v-feed-text {
        font-size: 120%;
      }
  }

  .v-feed {
    max-width: 98%;
  }

  /* Carousel */

  @media only screen and (max-width: 900px) {
    .prev-btn img{
      height: 50px;
      width: 50px;
    }
  
    .next-btn img{
      height: 50px;
      width: 50px;
    }
    }


    /* table */
    @media only screen and (min-width: 730px) {
      .table img{
        height: 575px;
        width: 660px;
      }
      }
    @media only screen and (max-width: 730px) {
      .table img{
        height: 575px;
        width: 660px;
      }
      }
      @media only screen and (max-width: 460px) {
        .table img{
          height: 450px;
          width: 450px;
        }
        }
  
        @media only screen and (max-width: 360px) {
          .table img{
            height: 360px;
            width: 340px;
          }
          }




   /* Form */



.form label {
  font-size: 1.75rem !important;
  --bs-text-opacity: 1;
  color: #000;
  font-weight: bolder !important;
}

.form input {
  border-radius: 14px;
  height: 75px !important;
  --bs-bg-opacity: 1;
  --bs-bg-opacity: 1;
  background-color:#000 !important;
  color: #f4bd01 !important;
}
.form-control{
  
  border: var(--bs-border-width) solid #191919;
}

.form-control:focus {
  background: #000 !important;
  color: #f4bd01 !important;
}
/* footer */

.bottom_line{
  border-bottom-style: groove;
  border-color: #f4bd01;
  width: fit-content;
}




@media (max-width: 500px) {
  .carousel-item img {
  height: 224px;
  width: 415px;
}
  .carousel-item h3 {
  font-size: calc(1.3rem + -1.4vw);
}

}

@media (max-width: 992px) {
  .ico {
    width: 60px;
    background-color: #f4bd01 !important;
    text-align: center;
  }
  
  .ico img {
    height: 50px;
    padding: 2px;
  }
  }


@media (max-width: 500px) {
 
.py-5{
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.pt-5{
  padding-top: 0.5rem !important;
}

.px-5{
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}
.p-4 {
  padding: 0.5rem!important;
}
.ico {
  width: 60px;
  background-color: #f4bd01 !important;
  text-align: center;
}

.ico img {
  height: 50px;
  padding: 2px;
}

.title {
  font-size: 300%;
  font-weight: 700;
  padding-top: 1%;
}

#equation h1{
  font-size: calc(1.25rem + -0.5vw) !important;
  font-weight: 600 !important;
}
}