/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #000;
}

/* Color  */

.bg-chlo {
  background-color: #fff;
}
.bg-purer {
  background-color: #fff;
}
.btn-chlo {
  background-color: #fff;
}
.text-chlo {
  color: #fff !important;
}

.card-body.bg-chlo {
  height: 110px;
}

.bg-footer {
  background-color: #000 !important;
}

.text-color {
  color: #fff !important;
}
.text-headColor {
  color: #000;
}

.bg-copyRight {
  background-color: #fff;
}
.text-copyRight {
  color: #000f;
}

.bg-blue {
  background-color: black;
}

/* Navbar */

#nav-bar {
  top: 0;
  z-index: 10;
  margin-left: 80px;
  margin-right: 90px;
}
.navbar-brand img {
  height: 110px;
  width: 110px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
  color: white;
}
#nav-bar ul li a:hover {
  color: #f8e501 !important;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  font-weight: bold;
  font-size: 16px;
}

.bg-black {
  background-color: #000;
}

.bg-navColor{
background-color: #f8e501;
}

a.navbar-brand {
  margin-left: 6rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    margin-right: 5rem;
  }
}

/* Title text */
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
  }
  .title1 {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
    color: #fff;
  }
  .bg-title {
    font-size: 300%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 200%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 250%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}

@media only screen and (min-width: 1000px) {
  .title1 {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
    color: #fff;
  }

  .title {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title {
    font-size: 1003%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 420%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 600%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Home */

.home img {
  height: 725px;
  width: 100%;
  filter: brightness(50%);
}

.home h1 {
  position: absolute;
  left: 12%;
  padding-top: 10%;
  font-size: 220px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .home h1 {
    position: absolute;
    left: 18%;
    padding-top: 10%;
    font-size: 135px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
  }
  .home img {
    height: 400px;
  }
}
@media only screen and (max-width: 800px) {
  .home h1 {
    position: absolute;
    left: 12%;
    padding-top: 10%;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
  }
  .home img {
    height: 550px;
    width: 800px;
  }
}

@media only screen and (max-width: 500px) {
  .home h1 {
    position: absolute;
    left: 20%;
    padding-top: 10%;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
  }
  .home img {
    height: 200px;
    width: 650px;
  }
}

.corporate .imgg_l {
  height: 632px;
  width: 335px;
}

.corporate .imgg_r {
  height: 632px;
  width: 335px;
  position: absolute;
  right: 0;
}
.icon {
  height: 150px;
  width: 150px;
}

.corporate h1 {
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
  padding-top: 20px;
}
.corporate p {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #fff !important;
  padding-top: 5px;
}

.forms  img {
  height: 850px;
}

@media only screen and (max-width: 1100px) {
  .corporate .imgg {
    height: 430px;
    width: 250px;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 1100px) {
  .corporate .imgg_l {
    display: none;
  }

  .corporate .imgg_r {
    display: none;
  }
}

/* Form */

.form label {
  font-size: 1.75rem !important;
  --bs-text-opacity: 1;
  color: #000;
  font-weight: bolder !important;
}

.form input {
  border-radius: 14px;
  height: 55px !important;
  --bs-bg-opacity: 1;
  --bs-bg-opacity: 1;
  background-color: #fff !important;
  color: #000 !important;
}

.form-control:focus {
  background: #fff !important;
  color: #000 !important;
}

textarea {
  border-radius: 20px;
}
textarea.form-control {
  height: 85px;
}

.forms img {
  height: 835px;
}

form {
  padding-top: 25px;
}

/* all */
::-webkit-input-placeholder {
  color: #000;
  font-weight: bolder;
}
::-moz-placeholder {
  color: #000;
  font-weight: bolder;
} /* firefox 19+ */
:-ms-input-placeholder {
  color: #000;
  font-weight: bolder;
} /* ie */
input:-moz-placeholder {
  color: #000;
  font-weight: bolder;
}

/* individual: webkit */
.form::-webkit-input-placeholder {
  color: #000;
  font-weight: bolder;
}

/* individual: mozilla */
.form::-moz-placeholder {
  color: #000;
  font-weight: bolder;
}

/* footer */

.bottom_line {
  border-bottom-style: solid;
  width: fit-content;
  border-bottom-width: thick;
  border-color: #fff !important;
}



@media (max-width: 500px) {
 
  .py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .pt-5{
    padding-top: 0.5rem !important;
  }
  
  .px-5{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .p-4 {
    padding: 0.5rem!important;
  }
  .fw-bolder{
    font-weight: 500 !important;
  }

  .m-5 {
    margin: 0 !important;
}
.pb-5 {
  padding-bottom: 0.5rem!important;
}
.mt-5{
  margin-top: 0.5rem !important;
}

.corporate  h1{
  font-weight: 600 !important;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.corporate  p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
.p-5 {
  padding: 0.5rem!important;
}
.py-3 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.pt-3 {
  padding-top: 0!important;
}
.px-4 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-2 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.icon {
  height: 100px;
  width: 100px;
}
.forms img {
  height: 500px;
}

form {
  padding-top: 10px;
  padding: 9px;
}
}