/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
    background-color: #081e34;
}

  /* Color  */

  .bg-chlo {
    background-color: #63ff99;
  }
.bg-dh{
    background-color: #081e34;
}
    .btn-chlo{
      background-color: #63ff99;
    }
  .text-chlo {
    color: #081e34;
  }
  .text-chlo1{
    color: #63ff99;
  }
  .card-body.bg-chlo {
    height: 81px;
  }

  .bg-footer{
    background-color: #081e34;
  }

  .text-color{
    color:#63ff99
  }
  .text-headColor{
    color:#63ff99
  }

  .bg-copyRight{
    background-color:#63ff99!important;
  }
  .text-copyRight{
    color: #081e34;
  }
  

  .bg-navColor{
    background-color:  #081e34 !important;
  }
  /* Navbar */

  #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 80px;
    margin-right: 90px;
  }
  .navbar-brand img {
    height: 110px;
    width: 110px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    float: right;
    text-align: left;
  }
  #nav-bar ul li a:hover {
    color: #f8e501!important;
  }
  .navbar-toggler {
    border: none!important;
  }
  .nav-link {
    font-weight:bold;
    font-size: 16px;
  }

  a.navbar-brand {
    margin-left: 6rem;
  }

  @media  only screen and (min-width: 400px){
    
    .navbar-nav .nav-item {
      margin-right: 40px; /* Adjust the value to increase or decrease the space */
    }
  
    a.navbar-brand {
      margin-left: 0;
  }
  }

  @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;margin-right:5rem;
  }
  }


  /* Title text */
  @media only screen and (max-width: 1000px) {
    .title {
      font-size: 300%;
      font-weight: 700;
      padding-top: 8%;
    }
    .title1 {
        font-size: 300%;
        font-weight: 700;
        padding-top: 8%;
        color: #63ff99;
        z-index: 1;
      }
    .bg-title {
      font-size: 300%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size: 200%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 250%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .title1 {
      font-size: 1028%;
      font-weight: 700;
      padding-top: 8%;
      color: #63ff99;
      z-index: 1;
    }

    .title {
        font-size: 1028%;
        font-weight: 700;
        padding-top: 8%;
      }
    
  
    .bg-title {
      font-size: 1003%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }

    .title-lg {
      font-size:420%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 600%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  
 
  /* Home */

  @media only screen and (min-width: 1390px) {
    .mobile {
      display: none;
    }

    hr {
      margin: -2rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #081e34;
      width: 75%;
      margin-left: 12%;
    }

    h1.title {
      font-size: 1125%;
      font-weight: 700;
      color: #081e34;
    }

    h2.v-feed-text {
      font-size: 308%;
      color: #081e34;
    }


  }



  @media only screen and (max-width: 1390px) {
    .desktop {
      display: none;
    }

    hr {
      margin: 0rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #081e34;
      width: 72%;
      margin-left: 12%;
    }
  }

  .v-feed {
    max-width: 98%;
  }




  /* Carousel */


  @media only screen and (max-width: 900px) {
    .prev-btn img{
      height: 50px;
      width: 50px;
    }
  
    .next-btn img{
      height: 50px;
      width: 50px;
    }
    }

  .carousel-item img{
        width: 790px!important;
        /* height:600px !important; */
  }

/* Dry Heater 01 */
.dryHeater01 p{
    font-size: x-large  ;
    font-weight: 600!important;
    color:#081e34;
}

.dryHeater01 h1{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 800;
    font-size: xx-large;
}

/* Dry Heater 03 */
.dryHeater03 h1{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
}
.dryHeater03 p{
    font-size: 1.5rem!important;
    font-weight: 600!important;
    color:#63ff99!important;
} 


.dryHeater03 li{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Dry Heater 04 */
.dryHeater04 p{
    font-size: 1.5rem!important;
    font-weight: 600!important;
    color:#63ff99!important;
} 
.li{
    height: 20px;
    position: relative;
    padding-top: 7px;
}

/* Industrial Apps */
.industrialApps h1{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
    font-size: x-large;
}

.industrialApps h2{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 700;
    font-size: x-large;
}
.industrialApps p{
    font-size: 15px !important;
    font-weight: 600!important;
    color:#63ff99!important;
} 

#with-border-box {
  box-sizing: border-box;
  border: 9px solid #63ff99 !important;
  border-right:none!important;
  padding: 10px
}

/* DryHeater 1.5 */
.dryHeater1_5 h1{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 700;
    font-size: xx-large;
}
.dryHeater1_5 h2{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
    font-size: xx-large;
}


/* Dry Heater 3 */

.dryHeater3 h1{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
    font-size: xx-large;
}

.dryHeater3 h2{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 700;
    font-size: xx-large;
}



/* Dry Heater 10.5 */
.dryHeater10_5 h1{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 700;
    font-size: xx-large;
}
.dryHeater10_5 h2{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
    font-size: xx-large;
}

@media  only screen and (min-width: 1290px){
    .dryHeater10_5 img{
        vertical-align: middle;
        height: 400px;
        padding-top: 100px;
    }
}

@media  only screen and (max-width: 1290px){
    .dryHeater10_5 img{
        vertical-align: middle;
        height: 400px;
        padding-top: 100px;
        display:none;
    }
}



/* Dry Heater 20 */
.dryHeater20 h1{
    --bs-text-opacity: 1;
    color: #63ff99;
    font-weight: 700;
    font-size: xx-large;
}
.dryHeater20 h2{
    --bs-text-opacity: 1;
    color: #081e34;
    font-weight: 700;
    font-size: xx-large;
}

@media  only screen and (min-width: 1290px){
    .dryHeater20 img{
        vertical-align: middle;
        height: 400px;
        padding-top: 85px;
    }
}

@media  only screen and (max-width: 1290px){
    .dryHeater20 img{
        vertical-align: middle;
        height: 400px;
        padding-top: 60px;
        display:none;
    }
}



@media  only screen and (min-width: 1000px){
    .dh_l{
        padding-top: 150px;
    }
    .dh_l3{
        padding-top: 150px;
    }
    .dh_r{
        padding-top: 100px;
    }
    
    
    .dh_r10_5{
        padding-top: 150px;
    }
}



.midd{
    position: absolute;
    padding-top: 60px;
}
.midd h1{
  font-weight: 700;
  font-size: 4rem;
  padding-right: 12px;
}
.midd-dh3{
    position: absolute;
    padding-top: 60px;
    padding-right: 61px;
}

.midd-dh3 h1{
  font-weight: 700;
  font-size: 4rem;
  padding-right: 12px;
}

.midd-dh20{
    position: absolute;
    padding-top: 60px;
    padding-right: 25px;
}
.midd-dh20 h1{
  font-weight: 700;
  font-size: 4rem;
  padding-right: 12px;
}



 
  /* Form */

  .bg-chlo1 {
    background-color: #081e34;
  }

  .btn-chlo {
    background-color: #081e34;
    color: #63ff99;
  }

     /* Form */

     .form label {
      font-size: 1.75rem !important;
      --bs-text-opacity: 1;
      color: #081e34;
      font-weight: bolder !important;
    }
    
    .form input {
      border-radius: 14px;
      height: 75px !important;
      --bs-bg-opacity: 1;
      --bs-bg-opacity: 1;
      background-color:#081e34 !important;
      color: #63ff99 !important;
    }
    
    .form-control:focus {
      background: #081e34 !important;
      color: #63ff99 !important;
    }

    .form-control{
      border: #081e34;
    }

/* Footer */

  .bottom_line{
    border-bottom-style: groove;
    border-color: #63ff99;
    width: fit-content;
  }


  /* bottomLine */
  .bh{
    color:#081e34 !important;
    border-bottom-style: groove;
    border-color: #081e34;
}
 
.bg{
  color:#63ff99 !important;
  border-bottom-style: groove;
  border-color: #63ff99;
}

.dh_r img{
  height: 450px;
}


@media (max-width: 500px) {
 
  .py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .pt-5{
    padding-top: 0.5rem !important;
  }
  
  .px-5{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .p-4 {
    padding: 0.5rem!important;
  }
  .fw-bolder{
    font-weight: 500 !important;
  }

  .m-5 {
    margin: 0 !important;
}
.pb-5 {
  padding-bottom: 0.5rem!important;
}
.mt-5{
  margin-top: 0.5rem !important;
}

.dryHeater01 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + .9vw) !important;
}

.dryHeater01 p {
  font-size: calc(1.275rem + -0.7vw)!important;
  font-weight: 500!important;
}

.dryHeater03 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + .9vw) !important;
}

.dryHeater03 p {
  font-size: calc(1.275rem + -0.7vw)!important;
  font-weight: 500!important;
}
.dryHeater03 li {
  margin-top: 0 ;
  margin-bottom: 0;
}

.industrialApps h2 {
  --bs-text-opacity: 1;
  font-weight: 500;
  font-size: calc(1.325rem + .9vw) !important;
}

.dryHeater1_5 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.dryHeater3 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.dryHeater10_5 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.dryHeater10_5 h2 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.dryHeater20 h1 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}

.dryHeater20 h2 {
  --bs-text-opacity: 1;
  font-weight: 600;
  font-size: calc(1.325rem + -0.1vw) !important;
}
.dh_r img{
  height: 150px;
}
}

