
  
  /* Navbar */

  /* #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 80px;
    margin-right: 90px;
  } */
  .navbar-brand img {
    height: 110px;
    width: 110px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    float: right;
    text-align: left;
  }
 
  .navbar-toggler {
    border: none!important;
  }
  .nav-link {
    font-weight:bold;
    font-size: 16px;
  }


  #nav-bar {
    margin-left: 20px;
    margin-right: 20px;
    
}
.navbar-nav .nav-item {
  margin-right: 40px; /* Adjust the value to increase or decrease the space */
}

.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Reset the margin for the last menu item */
}

.navbar-nav .nav-link {
  padding-right: 40px; /* Adjust the value to increase or decrease the space */
}

  @media  only screen and (max-width: 400px){
    #nav-bar {
      margin-left: 25px;
      margin-right: 25px;
    }
  
  }

  .navbar-nav .dropdown-menu {
    position: absolute !important;
    float: none;
 }

 .navbar-nav li:hover>ul.dropdown-menu {
    display: block;
 }




