* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Inter", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
/*----------Navigation-------*/

.headerdesign {
  /* height: 100%;
    width: 100%; */
  background-image: url("../img/Home/1.webp");
  background-size: cover;
  background-position: center;
  height: 700px;
}
#nav-bar {
  top: 0;
  z-index: 10;
  margin-left: 80px;
  margin-right: 90px;
}
.navbar-brand img {
  height: 85px;
  width: 85px;

  /* background-color: #fff; */
  border-radius: 0 !important;
}
.navbar-nav {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #fad91d;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
.navbar-nav li a:hover {
  color: green;
}

.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #000 !important;
  font-weight: bold;
  font-size: 16px;
}
/*----------Carousel-------*/
#carousel1 {
  top: 30px;
  margin: 0 100px;
}
.carousel1-class .carousel-inner img {
  vertical-align: middle;
  border-style: none;
  max-width: 150%;
  /* adjust the width of the image */
  height: auto;
  /* maintain the aspect ratio of the image */
}
.d-block.w-100 {
  width: 140% !important;
}
.col-md-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* adjust this value as needed */
}
.carousel1-class .carousel-item .col-md-5 h2 {
  font-size: 6em;
  /* adjust this value as needed */
  color: black;
  /* font-style: italic; */
  font-weight: bold;
  margin-left: 50px;
  text-align: center;
}
.carousel1-class .carousel-item p {
  display: flex;
  align-items: center;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: #000;
  margin-left: 50px;
  font-weight: bold;
}
.btn.btn-rounded {
  margin-left: 50px;
  border-radius: 25px;
}
.btn.btn-rounded.btn-black {
  background-color: black;
  color: #f4bd01;
  border: none;
  padding: 10px 30px;
  /* increase the horizontal padding */
  height: 35px;
  /* reduce the height */
  display: flex;
  align-items: center;
}
.black-line {
  width: 400px;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.white-line {
  width: 400px;
  border: 2px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}
/*----------WhyChooseUs-------*/
#why-choose-us h1 {
  font-size: 86px;
  font-weight: bold;
  color: #000;
}
#why-choose-us h2 {
  font-size: 50px;
  font-weight: bold;
  color: #000;
}
#why-choose-us p {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
/*---------- Products-------*/
.mycontaniner {
  width: 100%;
  background-color: black;
  margin-left: 0;
}
.mycontaniner .row {
  margin-right: 0;
}
.carousel-list-item {
  margin-left: 100px;
}
.carousel-list-item.active {
  color: #fff !important;
  cursor: default;
  position: relative;
  text-decoration: underline;
}
.carousel2-class .carousel-item {
  margin-top: 50px;
  margin-right: 50px;
}
.head1 {
  font-weight: bold;
  font-size: 70px;
  margin-left: 95px;
  color: white;
}
.carousel2-class .carousel-inner .carousel-item img {
  width: 100%;
}
.carousel-list-item.active h4 span {
  margin-left: 30px;
}
.arrow-icon {
  width: 40px;
}
/*----------Latest Projects-------*/
.latestprojects {
  background-color: black;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latestprojects h1 {
  color: white;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
}
#carousel-list1 {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-list-item1 h5 {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.carousel-list-item1.active h5 {
  border-bottom: 3px solid #5b6166;
  display: inline-block;
  padding-bottom: 5px;
}

.carousel-list-item1:hover h5 {
  border-bottom: 3px solid #5b6166;
  display: inline-block;
  padding-bottom: 5px;
}

#carousel3 {
  margin: 0 100px;
}

.carousel-line {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
}
.carousel-line:last-child {
  top: calc(100% - 20px);
}

.carousel3-class .carousel-item {
  height: 500px !important;
}
#arrow {
  width: 50px;
}
#arrow1 {
  color: black;
  width: 50px;
}
#img1 {
  height: calc(100% - 100px);
  width: auto;
  border: 5px solid white;
  border-radius: 4px;
  margin: 100px auto;
}

.carousel3-class .carousel-item h1 {
  font-size: 50px;
  color: white;
  margin-left: 40px;
}
.carousel3-class .carousel-item p {
  font-size: 40px;
  color: white;
  margin-left: 40px;
}
/*----------About-------*/

.about {
  height: auto;
  width: auto;
  background-color: #f0ebe3;
  overflow-x: hidden;
}
.about .row .col-lg-12 {
  margin-top: 100px;
}
.about .row .col-lg-12 p {
  font-size: 80px;
  font-weight: 900;
  color: #000;
  text-align: center;
}
.about .row .col-lg-6 .img2 {
  margin-top: 100px;
  margin-left: 100px;
  width: 60%;
}
.about .row .col-lg-6 p {
  margin-top: 100px;
  font-size: 23px;
  font-weight: bold;
  color: #000;
  margin-right: 100px;
}
.about .row .col-lg-6 p span {
  margin-top: 100px;
  font-size: 33px;
  font-weight: bold;
  color: #000;
}
#arrow3 {
  width: 40px;
  filter: invert(100%);
}
.about .row .col-lg-4 h1 {
  margin-top: 100px;
  font-size: 53px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.about .row .col-lg-4 p {
  font-size: 33px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

/*----------Clients-------*/
.clients {
  height: auto;
  width: auto;
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients .row .col-lg-12 {
  margin-top: 100px;
}
.clients .row .col-lg-12 p {
  font-size: 80px;
  font-weight: 900;
  color: #000;
  text-align: center;
}

.clientslogo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 50px;
}

.clientslogo img {
  /* max-width: 100%;
    height: auto; */
  width: 60%;
  height: 70%;
}

/*----------Testimonials-------*/

.testimonials .testimonialstitile {
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  color: #000;
}

.testimonials .testimonialspara {
  margin-top: 25px;

  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}
#carousel4 {
  height: 300px;
}
.carousel4-class .carousel-item {
  margin-left: 100px;
}
.carousel4-class .carousel-item h5 {
  font-weight: bold;
}
.carousel4-class .carousel-item p {
  font-weight: bold;
  margin-right: 200px;
}

.carousel4-class .carousel-item .blurredimage {
  width: 50%;
  opacity: 0.4;
}

.carousel4-class .carousel-control-prev-icon,
.carousel4-class .carousel-control-next-icon {
  filter: invert(100%);
}

.carousel5-class .carousel-item {
  margin-left: 100px;
}
.carousel5-class .carousel-item h5 {
  font-weight: bold;
}
.carousel5-class .carousel-item p {
  font-weight: bold;
  margin-right: 200px;
}

.carousel5-class .carousel-item .blurredimage {
  width: 50%;
  opacity: 0.4;
}

.carousel5-class .carousel-control-prev-icon,
.carousel5-class .carousel-control-next-icon {
  filter: invert(100%);
}

.bg-chlo {
  top: 100px;

  /* background-image: url("../img/Home/1\ -\ Copy.jpg"); */
  position: relative;
}
.bg-black {
  background-color: #000;
}
.bg-chlo-footer {
  top: 0px;

  /* background-image: url("../img/Home/1\ -\ Copy.jpg"); */
  position: relative;
}

.btn-chlo {
  background-color: #223d3c;
}
.text-chlo {
  color: #223d3c;
}

.card-body.bg-chlo {
  height: 81px;
}

/* footer */

.contact {
  border-radius: 17px;
  width: 36px;
  padding: 4px;
  padding-right: -29px;
  margin-left: -39px;
}

.footerproducts li h4 a {
  color: white;
  text-decoration: none;
}
.footermenus li h4 a {
  color: white;
  text-decoration: none;
}
.footerproducts h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.footermenus h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.contactUs h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 450px) {
  .contactUs h4 {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
  }
}

.location h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.location h5 {
  font-weight: 600;
  color: #fff;
  margin-top: 0.5rem;
}
.contactUs h5 {
  font-weight: 600;
  color: #fff;
  margin-top: 0.5rem;
}
.aboutUs h5 {
  font-weight: 600;
  background-color: #000;
  color: #fff;
  margin-top: 0.5rem;
}

.footerproducts li h5 a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.footermenus li h5 a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1300px) {
  /*----------Navigation-------*/
  .navbar-nav {
    height: auto;
    display: block;
    margin: 0;
    background-color: #fad91d;
  }
  .navbar-nav .nav-link {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
  }
  #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
  }
  #carousel1 {
    top: 30px;
    margin: 0 30px;
  }
  .carousel1-class .carousel-inner img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    /* adjust the width of the image */
    height: auto;
    /* maintain the aspect ratio of the image */
  }
  .carousel1-class .carousel-item .col-md-5 h2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    /* adjust this value as needed */
  }
  .carousel1-class .carousel-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    height: 80px;
    /* set a fixed height for the P tag */
  }
  .black-line {
    width: 400px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  .white-line {
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  .btn.btn-rounded {
    margin-left: 1px;
    border-radius: 25px;
  }
  #why-choose-us h1 {
    font-size: 66px;
    font-weight: bold;
    color: #000;
  }
  #number {
    display: none;
  }
  /*---------- Products-------*/
  .mycontaniner {
    width: 100%;
    background-color: black;
    margin-left: 0;
  }
  .mycontaniner .row {
    margin-right: 0;
  }
  .carousel-list-item {
    margin-left: 40px;
  }

  /* .carousel-list-item.active {
        color: #fff;
        opacity: 50% !important;
        cursor: default;
        position: relative;
        text-decoration: underline;
   } */
  .carousel2-class .carousel-item {
    margin-top: 50px;
  }
  .head1 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 35px;
    color: white;
  }
  .carousel2-class .carousel-inner {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel2-class .carousel-inner .carousel-item img {
    margin-top: 10px;
    margin-right: auto;
    width: 100%;
  }
  /*----------Latest Projects-------*/
  .latestprojects {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .latestprojects h1 {
    color: white;
    font-size: 60px;
    text-align: center;
  }
  #carousel-list1 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #carousel3 {
    margin: 0 20px;
  }
  .carousel-line {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .carousel-line:last-child {
    top: calc(100% - 20px);
  }

  .carousel3-class .carousel-item {
    height: 500px !important;
  }
  #arrow {
    width: 20px;
  }
  #arrow1 {
    color: black;
    width: 20px;
  }
  #img1 {
    height: calc(80% - 100px);
    width: auto;
    border: 5px solid white;
    border-radius: 4px;
    margin: 100px auto;
  }

  .carousel3-class .carousel-item h1 {
    font-size: 30px;
    color: white;
    margin-left: 40px;
  }
  .carousel3-class .carousel-item p {
    font-size: 20px;
    color: white;
    margin-left: 40px;
  }
  /*----------about-------*/

  .about .row .col-lg-6 .img2 {
    margin-top: 100px;
    margin-left: 100px;
    width: 70%;
  }
  .about .row .col-lg-6 p {
    margin-top: 100px;
    font-size: 19px;
    font-weight: bold;
    color: #000;
    margin-right: 100px;
  }
  .about .row .col-lg-6 p span {
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
  }
  #arrow3 {
    width: 30px;
    filter: invert(100%);
  }

  #carousel4 {
    height: 300px;
  }
  .carousel4-class .carousel-item {
    margin-left: 50px;
  }
  .carousel4-class .carousel-item h5 {
    font-weight: bold;
    font-size: 10px;
  }
  .carousel4-class .carousel-item p {
    font-weight: bold;
    margin-right: 50px;
    font-size: 15px;
  }

  .carousel4-class .carousel-item img {
    margin-top: 50px;
  }

  .carousel4-class .carousel-item .blurredimage {
    margin-top: 80px;
    width: 50%;
    opacity: 0.4;
  }

  .carousel4-class .carousel-control-prev-icon,
  .carousel4-class .carousel-control-next-icon {
    filter: invert(100%);
  }

  .carousel5-class .carousel-item {
    margin-left: 50px;
  }
  .carousel5-class .carousel-item h5 {
    font-weight: bold;
    font-size: 10px;
  }
  .carousel5-class .carousel-item p {
    font-weight: bold;
    margin-right: 50px;
    font-size: 15px;
  }

  .carousel5-class .carousel-item img {
    margin-top: 50px;
  }

  .carousel5-class .carousel-item .blurredimage {
    margin-top: 80px;
    width: 50%;
    opacity: 0.4;
  }

  .carousel5-class .carousel-control-prev-icon,
  .carousel5-class .carousel-control-next-icon {
    filter: invert(100%);
  }
}

@media (min-width: 768px) {
  #line {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    height: auto;
    display: block;
    margin: 0;
    background-color: #fad91d;
  }
  .navbar-nav .nav-link {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
  }
  #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
  }

  /*----------Carousel-------*/
  #carousel1 {
    top: 30px;
    margin: 0 30px;
  }
  .carousel1-class .carousel-inner img {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    /* adjust the width of the image */
    height: auto;
    /* maintain the aspect ratio of the image */
  }
  .carousel1-class .carousel-item .col-md-5 h2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    /* adjust this value as needed */
  }
  .carousel1-class .carousel-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    height: 80px;
    /* set a fixed height for the P tag */
  }
  .black-line {
    width: 400px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  .white-line {
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
  }
  #why-choose-us h1 {
    font-size: 66px;
    font-weight: bold;
    color: #000;
  }

  .btn.btn-rounded {
    margin-left: 1px;
    border-radius: 25px;
  }
  /* Why Choose */
  #number {
    display: none;
  }
  #line {
    margin-left: 10px;
  }
  /*---------- Products-------*/
  .mycontaniner {
    width: 100%;
    background-color: black;
    margin-left: 0;
  }
  .mycontaniner .row {
    margin-right: 0;
  }
  .carousel-list-item {
    margin-left: 20px;
  }
  .carousel-list-item.active {
    color: #fff !important;
    opacity: 75%;
    cursor: default;
    position: relative;
    text-decoration: underline;
  }
  .carousel2-class .carousel-item {
    margin-top: 50px;
  }
  .head1 {
    font-weight: bold;
    font-size: 50px;
    margin-left: 15px;
    color: white;
  }
  .carousel2-class .carousel-inner {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel2-class .carousel-inner .carousel-item img {
    margin-top: 10px;
    margin-right: auto;
    width: 100%;
  }
  /*----------Latest Projects-------*/
  .latestprojects {
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .latestprojects h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  #carousel-list1 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #carousel3 {
    margin: 0 20px;
  }
  .carousel-line {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .carousel-line:last-child {
    top: calc(100% - 10px);
  }

  .carousel3-class .carousel-item {
    height: 200px !important;
  }
  #arrow {
    width: 15px;
  }
  #arrow1 {
    color: black;
    width: 15px;
  }
  #img1 {
    height: calc(100% - 100px);
    width: auto;
    border: 5px solid white;
    border-radius: 4px;
    margin: 60px auto;
  }

  .carousel3-class .carousel-item h1 {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-left: -10px;
    margin-top: 20px;
  }
  .carousel3-class .carousel-item p {
    font-size: 15px;
    font-weight: bold;

    color: white;
    margin-left: -10px;
    margin-top: -25px;
  }
  /*----------Client-------*/

  .clients .row .col-lg-12 p {
    font-size: 60px;
    font-weight: 900;
    color: #000;
    text-align: center;
  }
  /*----------About-------*/

  .about .row .col-lg-12 {
    margin-top: 100px;
  }
  .about .row .col-lg-12 p {
    font-size: 50px;
    font-weight: 900;
    color: #000;
    text-align: center;
  }
  .about .row .col-lg-6 .img2 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .about .row .col-lg-6 p {
    margin-top: 50px;
    font-size: 23px;
    font-weight: bold;
    color: #000;
    margin-right: 20px;
    margin-left: 20px;
  }
  .about .row .col-lg-6 p span {
    margin-top: 30px;
    font-size: 33px;
    font-weight: bold;
    color: #000;
  }
  #arrow3 {
    width: 40px;
    filter: invert(100%);
  }
  .about .row .col-lg-4 h1 {
    margin-top: 50px;
    font-size: 53px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  .about .row .col-lg-4 p {
    font-size: 33px;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  #carousel4 {
    height: 300px;
  }
  .carousel4-class .carousel-item {
    margin-left: 10px;
  }
  .carousel4-class .carousel-item h5 {
    font-weight: bold;
    font-size: 10px;
  }
  .carousel4-class .carousel-item p {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
  }

  .carousel4-class .carousel-item img {
    margin-top: 50px;
    width: 100px;
  }

  .carousel4-class .carousel-item .blurredimage {
    display: none;
    margin-top: 80px;
    width: 20%;
    opacity: 0.4;
  }

  .carousel4-class .carousel-control-prev-icon,
  .carousel4-class .carousel-control-next-icon {
    margin-top: -120px;
    filter: invert(100%);
  }

  .carousel5-class .carousel-item {
    margin-left: 10px;
  }
  .carousel5-class .carousel-item h5 {
    font-weight: bold;
    font-size: 10px;
  }
  .carousel5-class .carousel-item p {
    font-weight: 500;
    margin-right: 10px;
    font-size: 15px;
  }

  .carousel5-class .carousel-item img {
    margin-top: 50px;
    width: 100px;
  }

  .carousel5-class .carousel-item .blurredimage {
    display: none;
    margin-top: 80px;
    width: 20%;
    opacity: 0.4;
  }

  .carousel5-class .carousel-control-prev-icon,
  .carousel5-class .carousel-control-next-icon {
    margin-top: -120px;
    filter: invert(100%);
  }
}

/* Style the Google Maps container */
#map {
  height: 400px;
  width: 100%;
  position: relative;
}

.form-control1 {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-bottom: 2px solid black;
}

.col-lg-3.contact.px-0 {
  position: absolute;
  right: 68px;
  z-index: 1;
}

#carousel-list a {
  font-size: 24px;
  text-decoration: none;
  color: #666666;
  font-weight: 700;
  padding-top: 0.5rem;
  line-height: 36px;
}

#carousel-list .active a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding-top: 0.5rem;
}
#carousel-list :hover {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding-top: 0.5rem;
}

#carousel-list .active a:visited {
  color: inherit;
}

#carousel-list .active a,
#carousel-list .active a:visited {
  color: #fff;
}

.contactUs img {
  width: 50px;
  height: 50px;
}


#count {
  padding-top: 3rem;
  padding-top: 3rem;
}

#padd {
  padding-top: 3rem;
  padding-top: 3rem;
}

@media (min-width: 450px) {
  #footerLocation {
    display: none;
  }
  #footerLocation1 {
    display: block;
  }

  .productMob{
    display: none;
  }

  #why-choose-us {
    padding-top: 3rem!important;
    margin-top: 3rem!important;
  }
 
}


.scroll-container img {
  height: 45px;
  border-radius: 6px;
}
@media (max-width: 450px) {
  #footerLocation1 {
    display: none;
  }
  #footerLocation {
    display: block;
  }

  .footerproducts li h5 a {
    font-weight: 500 !important;
  }

  #footer_M li h5 a {
    font-size: 1rem !important;
  }

  #footer_M li h5 {
    font-size: 1rem !important;
  }

  .testimonials .testimonialstitile {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #000;
  }
  .testimonials .testimonialspara {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
  }

  .clients .row .col-lg-12 p {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    text-align: center;
  }
  .clients .row .col-lg-12 {
    margin-top: 10px;
  }

  .about .row .col-lg-4 h1 {
    margin-top: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  .about .row .col-lg-4 p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
  }

  #count {
    padding-top: 0.5rem;
    padding-top: 0.5rem;
  }

  #padd {
    padding-top: 0.5rem;
    padding-top: 0.5rem;
  }

  .about .row .col-lg-12 {
    margin-top: 30px;
}

.about .row .col-lg-12 p {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.about .row .col-lg-6 p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-right: 20px;
  margin-left: 20px;
}


.latestprojects h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.latestprojects {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#product_mob a{
color: #fff;
}
#product_mob h4{
  text-align: center;
  }
  
  .head1 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.productDesk{
  display: none;
}
.productMob{
  display: block;
}

.latestprojects {
  background-color: black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latestprojects h1 {
  font-weight: 600;
}

#why-choose-us p {
  font-size: 15px;
  
  margin-top: -25px;
  font-weight: 500;
  color: #000;
}

#why-choose-us h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

#why-choose-us h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

#why-choose-us {
  padding-top: 0!important;
  margin-top: 0!important;
}
#why-choose-us img{
 width: 60%;
}


.about .row .col-lg-6 p span {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

#arrow3 {
  width: 15px;
  filter: invert(100%);
}

.map_ContactForm{
  padding-top: 0;
}

.carousel2-class .carousel-inner {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

#carousel4 {
  height: 225px;
}

.about .row .col-lg-6 .img2 {
  margin-top: 25px;
  margin-left: 23%;
  margin-right: 0;
  width: 50%;
}

.aboutUs h5 {
  text-align: justify;
}
.clientslogo img {
  width: 82%;
  height: 70%;
  margin: 5px;
}

.scroll-container img {
  height: 30px;
  border-radius: 6px;
}

#why-choose-us p{
  margin-bottom: 0rem;
  }

}



@media (min-width:1650px) {
  .headerdesign {
    height: 754px;
}
}
