/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body{
    background-color: #081e34;
}

  /* Color  */

  .bg-chlo {
    background-color: #d8d3c4;
  }
.bg-dh{
    background-color: #081e34;
}
    .btn-chlo{
      background-color: #d8d3c4;
    }
  .text-chlo {
    color: #081e34;
  }
  .text-chlo1{
    color: #d8d3c4;
  }
  .card-body.bg-chlo {
    height: 81px;
  }

  .bg-footer{
    background-color: #081e34;
  }

  .text-color{
    color:#d8d3c4
  }
  .text-headColor{
    color:#d8d3c4
  }

  .bg-copyRight{
    background-color:#d8d3c4!important;
    padding: 1rem!important;

  }
  .text-copyRight{
    color: #081e34;
  }
  .text-copyRight a{
    color: #081e34;
    text-decoration: none;
  }
  
  

  .bg-navColor{
    background-color:  #081e34 !important;
  }
  /* Navbar */

  #nav-bar {
    top: 0;
    z-index: 10;
    margin-left: 80px;
    margin-right: 90px;
  }
  .navbar-brand img {
    height: 110px;
    width: 110px;
  }
  .navbar-nav {
    display: flex;
    align-items: center;;
  }
  .navbar-nav li {
    padding: 0 10px;
  }
  .navbar-nav li a {
    float: right;
    text-align: left;
  }
  #nav-bar ul li a:hover {
    color: #f8e501!important;
  }
  .navbar-toggler {
    border: none!important;
  }
  .nav-link {
    font-weight:bold;
    font-size: 16px;
  }

  a.navbar-brand {
    margin-left: 6rem;
  }
  @media  only screen and (min-width: 400px){
    
    .navbar-nav .nav-item {
      margin-right: 40px; /* Adjust the value to increase or decrease the space */
    }
  
    a.navbar-brand {
      margin-left: 0;
  }
  }
  
  @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
      justify-content: flex-end;margin-right:5rem;
  }
  }


  /* Title text */
  @media only screen and (max-width: 1000px) {
    .title {
      font-size: 300%;
      font-weight: 700;
      padding-top: 8%;
      z-index: 1;
    }
    .title1 {
        font-size: 300%;
        font-weight: 700;
        padding-top: 8%;
        color: #d8d3c4;
      }
    .bg-title {
      font-size: 300%;
      font-weight: 700;
      opacity: 25%;
      position: absolute;
    }

    .title-lg {
      font-size: 200%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 250%;
      font-weight: 700;
      opacity: 25%;
      position: absolute;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .title1 {
      font-size: 1028%;
      font-weight: 700;
      padding-top: 8%;
      color: #d8d3c4;
    }

    .title {
        font-size: 1028%;
        font-weight: 700;
        padding-top: 8%;
      }
    
  
    .bg-title {
      font-size: 1003%;
      font-weight: 700;
      opacity: 10%;
      position: absolute;
    }

    .title-lg {
      font-size:420%;
      font-weight: 700;
      padding-top: 8%;
    }
  
    .bg-title-lg {
      font-size: 600%;
      font-weight: 700;
      opacity: 14%;
      position: absolute;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  
 
  /* Home */

  @media only screen and (min-width: 1390px) {
    .mobile {
      display: none;
    }

    hr {
      margin: -2rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #081e34;
      width: 75%;
      margin-left: 12%;
    }

    h1.title {
      font-size: 1125%;
      font-weight: 700;
      color: #081e34;    opacity: 99%;
    }

    h2.v-feed-text {
      font-size: 308%;
      color: #081e34;
    }


  }



  @media only screen and (max-width: 1390px) {
    .desktop {
      display: none;
    }

    hr {
      margin: 0rem 0;
      border: 3px solid;
      border-top: var(--bs-border-width) solid;
      opacity: 3.25;
      color: #081e34;
      width: 72%;
      margin-left: 12%;
    }
  }

  .v-feed {
    max-width: 98%;
  }




  /* Carousel */

  
  .carousel-item img{
        width: 600px!important;
        height:410px !important;
  }


  @media only screen and (max-width: 900px) {
  .prev-btn img{
    height: 50px;
    width: 50px;
  }

  .next-btn img{
    height: 50px;
    width: 50px;
  }
  }
  /* Direct Stream */

  
  @media only screen and (min-width: 580px) {
    .directStream h1{
      font-size: 125px;
      font-weight: 600;
      color: #d8d3c4;
    }
  }
    
  @media only screen and (max-width: 580px) {
    .directStream h1{
      font-size: 80px;
      font-weight: 600;
      color: #d8d3c4;
    }
    
  }


  .directStream p{
    font-size: x-large;
    font-weight: 600;
  }


  /* benefits */

.benefits h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.benefits p{
    font-size: x-large;
    font-weight: 600;
  }

  /* features */

  .features p{
    font-size: x-large;
    font-weight: 600;
    color: #d8d3c4;
    padding-top: 0.5rem!important;
    padding-left: 3rem!important;
  }


  @media only screen and (min-width: 550px) {
  .features span{
    background-color: #d8d3c4;
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
    padding-right: 3rem!important;
      padding-left: 3rem!important;
  }
}

  @media only screen and (max-width: 550px) {
    .features span{
        background-color: #d8d3c4;
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
      }
  }


    /* Major Apps */

.majorApps h1{
    font-size: 2.5rem;
    font-weight: 600;
}

.majorApps p{
    font-size: x-large;
    font-weight: 600;
  }

  .majorApps img{
    height: 735px;
  }


  @media only screen and (max-width: 1270px) {
    .majorApps img{
      height: 600px;
      width: 600px;
      background-color: #000;
    }
  }
  @media only screen and (max-width: 600px) {
    .majorApps img{
      height: 400px;
      width: 340px;
      background-color: #000;
    }
  }

/* Variants */
.variants h1{
  font-weight: 600;
}
.variants th{
  font-size: larger;
  font-weight: 600;
  padding: 15px;
}
.variants td{
  font-size: larger;
  font-weight: 600;
  color: #d8d3c4;
  background-color: #000;
}

@media only screen and (max-width: 490px) {
  .model{
    padding: 30px;
  }
}


@media only screen and (max-width: 400px) {
  .tableVariant{
    padding-left: 38%;
  }
}

.steamLine{
  padding: 9px;
}


@media only screen and (max-width: 1000px) {
  .variants img{
    height: 400px !important;
  }
}


@media only screen and (max-width: 666px) {
  .variants img{
    height: 250px !important;
    width: 340px;
  }
}

@media only screen and (min-width: 1000px) {
  .variants img{
    height: 600px !important;
  }
}


    /* Form */

   
    
    .form label {
      font-size: 1.75rem !important;
      --bs-text-opacity: 1;
      color: #000!important;
      font-weight: bolder !important;
    }
    
    .form input {
      border-radius: 14px;
      height: 75px;
      --bs-bg-opacity: 1;
      --bs-bg-opacity: 1;
      background-color:#000 !important;
      color: #d8d3c4;
    }
    .form-control:focus {
      color:#d8d3c4;
    }
    .form-control {
      border:#d8d3c4;
    }
      /* all */
::-webkit-input-placeholder { color:#d8d3c4; font-weight: bolder;}
::-moz-placeholder { color:#d8d3c4; font-weight: bolder;} /* firefox 19+ */
:-ms-input-placeholder { color:#d8d3c4; font-weight: bolder;} /* ie */
input:-moz-placeholder { color:#d8d3c4;font-weight: bolder; }

/* individual: webkit */
.form::-webkit-input-placeholder { color:#d8d3c4; font-weight: bolder;}

/* individual: mozilla */
.form::-moz-placeholder { color:#d8d3c4;font-weight: bolder; }

  /* footer */

  .bottom_line {
    border-bottom-style: solid;
    width: fit-content;
    border-bottom-width: thick;
    border-color: #d8d3c4 !important;
}


tbody tr,td{
  border-color: #d8d3c4;
}

thead{
  border-color: #000;
}





@media (max-width: 500px) {
 
  .py-5{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .pt-5{
    padding-top: 0.5rem !important;
  }
  
  .px-5{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .p-4 {
    padding: 0.5rem!important;
  }
  .fw-bolder{
    font-weight: 500 !important;
  }

  .m-5 {
    margin: 0 !important;
}
.pb-5 {
  padding-bottom: 0.5rem!important;
}
.mt-5{
  margin-top: 0.5rem !important;
}
.p-5 {
  padding: 0!important;
}

.card-body.bg-chlo {
  height: 45px;
}

.carousel-item img {
  width: 600px!important;
  height: 250px !important;
}

.carousel-inner .py-5{
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.directStream h1 {
  font-size: 37px;
  font-weight: 600;
  color: #d8d3c4;
}

.directStream p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
.benefits h1 {
  font-weight: 600;
  font-size: calc(1.325rem + .9vw);
}

.benefits p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}

#benfitsM img{
  height: 40px !important;
}

.features p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
.features span {
  background-color: #d8d3c4;
  padding: 0.5rem;
  margin: 2px;
}
.majorApps h1 {
  font-weight: 600;
  font-size: calc(1.325rem + .9vw);
}
.majorApps p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}
.majorApps img {
  height: 245px;
  width: 285px;
  background-color: #000;
}
.variants h1 {
  font-weight: 600;
  font-size: calc(1.325rem + .9vw);
  padding-top: 5px;
}

.form-group .fs-3 {
  font-size: 1rem !important;
  --bs-text-opacity: 1;
  font-weight: bolder !important;
}

.tableVariant {
  padding-left: 0%;
}
}