/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

/* Color  */

.bg-chlo {
  background-color: rgb(15 49 115);
}
.bg-purer {
  background-color: rgb(15 49 115);
}
.btn-chlo {
  background-color: rgb(15 49 115);
}
.text-chlo {
  color: rgb(15 49 115) !important;
}

.card-body.bg-chlo {
  height: 110px;
}

.bg-footer {
  background-color: #fff !important;
}

.text-color {
  color: rgb(15 49 115) !important;
}
.text-headColor {
  color: rgb(15 49 115);
}

.bg-copyRight {
  background-color: rgb(15 49 115);
}
.text-copyRight {
  color: #ffff;
}

.bg-navColor {
  background-color: #fff !important;
}
/* Navbar */

#nav-bar {
  top: 0;
  z-index: 10;
  margin-left: 80px;
  margin-right: 90px;
}
.navbar-brand img {
  height: 110px;
  width: 110px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #f8e501 !important;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  font-weight: bold;
  font-size: 16px;
}


a.navbar-brand {
  margin-left: 6rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    margin-right: 5rem;
  }
}

/* Title text */
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
  }
  .title1 {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
    color: rgb(15 49 115);
  }
  .bg-title {
    font-size: 300%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 200%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 250%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}

@media only screen and (min-width: 1000px) {
  .title1 {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
    color: rgb(15 49 115);
  }

  .title {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title {
    font-size: 1003%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 420%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 600%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Home */

@media only screen and (min-width: 1390px) {
  .mobile {
    display: none;
  }

  hr {
    margin: -2rem 0;
    border: 3px solid;
    border-top: var(--bs-border-width) solid;
    opacity: 3.25;
    color: #fff;
    width: 75%;
    margin-left: 12%;
  }

  h1.title {
    font-size: 1125%;
    font-weight: 700;
    color: #fff;
  }

  h2.v-feed-text {
    font-size: 308%;
    color: #fff;
  }
}

@media only screen and (max-width: 1390px) {
  .desktop {
    display: none;
  }

  hr {
    margin: 0rem 0;
    border: 3px solid;
    border-top: var(--bs-border-width) solid;
    opacity: 3.25;
    color: #fff;
    width: 72%;
    margin-left: 12%;
  }
}

.v-feed {
  max-width: 98%;
}




  /* Carousel */

  
  @media only screen and (max-width: 900px) {
    .prev-btn img{
      height: 50px;
      width: 50px;
    }
  
    .next-btn img{
      height: 50px;
      width: 50px;
    }
    }

  .carousel-item img{
        width: 800px!important;
        height:600px !important;
  }


/* purer process*/
.purerProcess p{
  font-size: 1.5rem!important;
  font-weight: 600!important;
  color:rgb(15 49 115);
}

.purerProcess h1{
  --bs-text-opacity: 1;
  color: rgb(15 49 115);
  font-weight: 700;
}

.purer_lg h2 {
  position: absolute;
  right: 100px;
  font-size: 126px;
  font-weight: 700;
  color: #fff;
}

.purerProcess1 p{
  font-size: 1.5rem!important;
  font-weight: 600!important;
  color: #fff;
}

.purerProcess1 h1{
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
}

.purer_lg1 h2 {
  position: absolute;
  left: 100px;
  font-size: 126px;
  font-weight: 700;
  color: rgb(15 49 115);
}


.purerProcess2 p{
  font-size: 1.5rem!important;
  font-weight: 600!important;
  color:rgb(15 49 115);
}

.purerProcess2 h1{
  --bs-text-opacity: 1;
  color: rgb(15 49 115);
  font-weight: 700;
}





@media only screen and (min-width: 1250px) {
.purer_top{
  padding-top: 150px !important;
}
.purerProcess2 h2{
  position: absolute;
    right: 211px;
    padding-top: 28%;
    font-size: 359px;
    font-weight: 700;
    color: #0f3173;
    opacity: 29%;

}
}

@media only screen and (max-width: 1250px) {
  .purer_lg {
    display: none;
  }

  .purer_lg1 {
    display: none;
  }
  .purerProcess2 h2{
    display: none;
  }
}



/* features */

.features p{
  font-size: 1.5rem!important;
  font-weight: 600!important;
  color:rgb(15 49 115) !important;
  padding-top: 0.5rem;
}

.features img{
 width: 70px !important;
 height:70px !important;
 margin-top: 1rem;
}


/* Industrial Apps */

.industrialApps p{
  font-size: 1.5rem!important;
  font-weight: 600!important;
  color:rgb(15 49 115) !important;
}

.industrialApps img{
 width: 150px !important;
 height:150px !important;
}


/* construction */

.construction_Table{
background-image: url('/img/Products/Purer/table_1.png');
}

.con_topLeft{
  position: absolute;
  left: 0;
  color: #fff;
    font-size: 367px;
    font-weight: 700;
  opacity: 45%;
}
.con_topRight{
  position: absolute;
  right: 0;
  color: #fff;
    font-size: 367px;
    font-weight: 700;
  opacity: 45%;
}

.con_bottomLeft{
  position: absolute;
    left: 0;
    /* bottom: 0; */
    padding-top: 30rem;
    color: #fff;
    font-size: 367px;
    font-weight: 700;
    opacity: 45%;
}

.con_bottomLeft1{
  position: absolute;
    left: 5rem;
    /* bottom: 0; */
    padding-top: 30rem;
    color: #fff;
    font-size: 367px;
    font-weight: 700;
    opacity: 45%;
}

.con_bottomRight{
  position: absolute;
  right: 0;
  padding-top: 30rem;
    color: #fff;
    font-size: 367px;
    font-weight: 700;
    opacity: 45%;
}
.con_bottomRight1{
  position: absolute;
  right: 5rem;
  padding-top: 30rem;
    color: #fff;
    font-size: 367px;
    font-weight: 700;
    opacity: 45%;
}


.construction table{
  background-color: #0f3173;
}

.construction h1{
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
  text-align: center;
  /* position: absolute; */
}

.construction td p{
color: #fff;
font-size: x-large;
font-weight: 700;
}



@media only screen and (max-width: 600px) {
  .construction h1{
    --bs-text-opacity: 1;
    color: #fff;
    font-weight: 700;
    font-size: large;
    position: absolute;
  }
}

h2.purer_lg {
  color: #fff;
  font-size: 258px;
  font-weight: 700;
  opacity: 40%;
  position: absolute;
}
/* Form */

.bg-chlo1 {
  background-color: rgb(15 49 115);
}

.form label {
  font-size: 1.75rem !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  font-weight: bolder !important;
}

.form input {
  border-radius: 14px;
  height: 75px;
  --bs-bg-opacity: 1;
  --bs-bg-opacity: 1;
  background-color:#fff !important;
}

/* Footer */
.form-control:focus {
  color:rgb(15 49 115);
}

.form-control {
  color:rgb(15 49 115);
}


.bottom_line {
  border-bottom-style: groove;
  border-color: rgb(15 49 115);
  width: fit-content;
}

/* bottomLine */
