/* body */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

/* Color  */

.bg-chlo {
  background-color: #003aac;
}
.bg-purer {
  background-color: #003aac;
}
.btn-chlo {
  background-color: #003aac;
}
.text-chlo {
  color: #003aac !important;
}

.card-body.bg-chlo {
  height: 110px;
}

.bg-footer {
  background-color: #fff !important;
}

.text-color {
  color: #003aac !important;
}
.text-headColor {
  color: #003aac;
}

.bg-copyRight {
  background-color: #003aac;
}
.text-copyRight {
  color: #ffff;
}

.bg-blue {
  background-color: rgb(0 46 137);
}

.bg-navColor {
  background-color: #fff !important;
}
/* Navbar */

#nav-bar {
  top: 0;
  z-index: 10;
  margin-left: 80px;
  margin-right: 90px;
}
.navbar-brand img {
  height: 110px;
  width: 110px;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover {
  color: #f8e501 !important;
}
.navbar-toggler {
  border: none !important;
}
.nav-link {
  font-weight: bold;
  font-size: 16px;
}

a.navbar-brand {
  margin-left: 6rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    margin-right: 5rem;
  }
}

/* Title text */
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
  }
  .title1 {
    font-size: 300%;
    font-weight: 700;
    padding-top: 8%;
    color: #003aac;
  }
  .bg-title {
    font-size: 300%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 200%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 250%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}

@media only screen and (min-width: 1000px) {
  .title1 {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
    color: #003aac;
  }

  .title {
    font-size: 1028%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title {
    font-size: 1003%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }

  .title-lg {
    font-size: 420%;
    font-weight: 700;
    padding-top: 8%;
  }

  .bg-title-lg {
    font-size: 600%;
    font-weight: 700;
    opacity: 14%;
    position: absolute;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Home */

@media only screen and (min-width: 1390px) {
  .mobile {
    display: none;
  }

  hr {
    margin: -2rem 0;
    border: 3px solid;
    border-top: var(--bs-border-width) solid;
    opacity: 3.25;
    color: #fff;
    width: 75%;
    margin-left: 12%;
  }

  h1.title {
    font-size: 1125%;
    font-weight: 700;
    color: #fff;
  }

  h2.v-feed-text {
    font-size: 308%;
    color: #fff;
  }
}

@media only screen and (max-width: 1390px) {
  .desktop {
    display: none;
  }

  hr {
    margin: 0rem 0;
    border: 3px solid;
    border-top: var(--bs-border-width) solid;
    opacity: 3.25;
    color: #fff;
    width: 72%;
    margin-left: 12%;
  }
}

.v-feed {
  max-width: 98%;
}

/* Carousel */

@media only screen and (max-width: 900px) {
  .prev-btn img {
    height: 50px;
    width: 50px;
  }

  .next-btn img {
    height: 50px;
    width: 50px;
  }
}
.carousel-item img {
  width: 800px;
  height: 420px;
}

/* @media only screen and (max-width: 450px) {
  .carousel-item img {
    height: 400px;
    width: 240px;
  }
} */

/* Water Tank */

.waterTank p {
  font-size: 20px;
  font-weight: 600 !important;
  color: #fff;
}

.waterTank h1 {
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
  font-size: x-large;
  padding-top: 10px;
}
@media only screen and (max-width: 400px) {
  .waterTank img {
    width: 340px;
  }
}

/* Apps */

.apps p {
  font-size: 20px;
  font-weight: 600 !important;
  color: #003aac;
}

.apps h1 {
  --bs-text-opacity: 1;
  color: #003aac;
  font-weight: 700;
  font-size: x-large;
  padding-top: 10px;
}

/* ELECTROLYSIS */

.electrolysis p {
  font-size: 20px;
  font-weight: 600 !important;
  color: #fff;
}

.electrolysis h1 {
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  font-size: x-large;
}

.electrolysis img {
  height: 600px;
}

@media only screen and (max-width: 400px) {
  .electrolysis img {
    width: 340px;
  }
}

/* Features */
.features p {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #003aac;
}

.features img {
  height: 50px;
  padding-right: 10px;
}

/* tableSteriflo */

/* @media only screen and (max-width: 1000px) {
    .tableSteriflo img{
      height: 400px !important;
    }
  }
  
  
  @media only screen and (max-width: 666px) {
    .tableSteriflo img{
      height: 250px !important;
      width: 340px;
    }
  }
  
  @media only screen and (min-width: 1000px) {
    .tableSteriflo img{
      height: 600px !important;
    }
  } */

.tableSteriflo table {
  border-color: #fff;
  border-style: solid;
  border-width: 10px;
}

.tableSteriflo tr {
  color: #fff;
  border-color: #fff;
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.tableSteriflo td {
  padding: 7px;
}

/* Technicla Details */

.techDetails p {
  font-size: 20px;
  font-weight: 600 !important;
  color: #fff;
  padding: 15px;
}

.techDetails h1 {
  --bs-text-opacity: 1;
  color: #fff;
  font-weight: 700;
  font-size: x-large;
  padding: 15px;
}

/* Form */

.bg-chlo1 {
  background-color: #003aac;
}

.form label {
  font-size: 1.75rem !important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
  font-weight: bolder !important;
}

.form input {
  border-radius: 14px;
  height: 75px;
  --bs-bg-opacity: 1;
  --bs-bg-opacity: 1;
  background-color: #fff !important;
}

.form-control:focus {
  color: #003aac;
}
.form-control {
  color: #003aac;
}

/* Footer */

.bottom_line {
  border-bottom-style: groove;
  border-color: #003aac;
  width: fit-content;
}

.features img {
  height: 50px;
  padding-right: 10px;
  margin: 10px;
}

.features p {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  padding: 5px;
}

@media only screen and (max-width: 650px) {
  .carousel-item img {
    /* width: 800px; */
    height: 251px;
  }
}

@media (max-width: 500px) {
  .py-5 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .pt-5 {
    padding-top: 0.5rem !important;
  }

  .px-5 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .p-4 {
    padding: 0.5rem !important;
  }
  .apps h1 {
    --bs-text-opacity: 1;
    color: #003aac;
    font-weight: 700;
    font-size: x-large;
    padding-top: 10px;
  }
}

.waterTank img{
  height: 600px;
  /* width: 330; */
}

@media (max-width: 700px) {
  .tableSteriflo td {
    padding: 7px;
}
.tableSteriflo tr {
  color: #fff;
  border-color: #fff;
  font-size: 10px!important;
  font-weight: 600 !important;
}
.tableSteriflo table {
  border-color: #fff;
  border-style: solid;
  border-width: 5px;
}
.w-75{
  width: 85% !important
}

}

@media (max-width: 500px) {
  .apps h1 {
    --bs-text-opacity: 1;
    color: #003aac;
    font-weight: 600;
    font-size: calc(1.325rem + -0.1vw);
    padding-top: 5px;
  }

  .apps p {
    font-size: calc(1.275rem + -0.7vw) !important;
    font-weight: 500 !important;
    color: #003aac;
  }

  .waterTank h1 {
    --bs-text-opacity: 1;
    font-weight: 600;
    font-size: calc(1.325rem + -0.1vw);
    padding-top: 5px;
  }

  .waterTank p {
    font-size: calc(1.275rem + -0.7vw) !important;
    font-weight: 500 !important;
  }
  .electrolysis img {
    height: 250px;
    width: 225px;
  }
  .waterTank img {
    height: 300px;
    width: 215px;
}

  .electrolysis h1 {
    --bs-text-opacity: 1;
    font-weight: 600;
    font-size: calc(1.2rem + -0.1vw);
    padding-top: 5px;
  }

  .electrolysis p {
    font-size: calc(1.275rem + -0.7vw) !important;
    font-weight: 500 !important;
  }

  .features h1 {
    --bs-text-opacity: 1;
    font-weight: 600;
    font-size: calc(1.325rem + -0.1vw);
    padding-top: 5px;
  }

  .features p {
    font-size: calc(1.275rem + -0.7vw) !important;
    font-weight: 500 !important;
  }

  .features img {
    margin: 0;
    padding: 10px;
  }

  .features p {
    padding: 0;
  }

  .card-body.bg-chlo {
    height: 68px;
  }

  .mt-5 {
    margin-top: 0.5rem !important;
  }

  .techDetails h1 {
    --bs-text-opacity: 1;
    color: #fff;
    font-weight: 600;
    font-size: calc(1.325rem + -0.1vw);
    padding: 7px;
}
.techDetails p {
  font-size: calc(1.275rem + -0.7vw) !important;
  font-weight: 500 !important;
}


.py-5 {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.p-5{
  padding: 0 !important;
}
.carousel-item img {
  /* width: 275px; */
  height: 210px;
}
.form .form-group .fs-3 {
  font-size:1rem !important;
}
}
