

.navbar-brand img {
  height: 110px;
  width: 110px;
  
  background-color: #fff;
  border-radius: 7px;
}
  /* Carousel */

  .prev-btn img{
    height: 75px;
    width: 75px;
    border-radius: 45px;
  }

  .next-btn img{
    height: 75px;
    width: 75px;
    border-radius: 45px;
  }


  .fa-star:before {
    content: "\f005";
    font-size: x-small;
}

.contactUs img{
width: 50px;
height: 50px;
}

.social img{
  width: 50px;
  height: 50px;
  }
   

  .social p{
      font-weight: 600;
      margin-top: 0.5rem ;
  }

  td {
    vertical-align: middle !important;
}